<banner-background
  bannerImage="../../../assets/img/Homepage/bannerBackground/background.png"
></banner-background>
<!-- Background image -->

<card-more></card-more>
<!-- Cards Informations -->

<app-about
  imagePhone="../../../assets/img/Homepage/aboutImages/phoneIcon.svg"
  imageAbout="../../../assets/img/Homepage/aboutImages/imageAbout.png"
></app-about>
<!-- About -->

<app-commentary></app-commentary>
<!-- Cards commentary -->

<app-client-logo></app-client-logo>
<!-- Logo Clients -->

<follow-projects></follow-projects>
<!-- Projects -->

<app-counter></app-counter>
<!-- Counter -->

<app-blog></app-blog>
<!-- Blog cards -->

<app-contact></app-contact>
<!-- Contact card -->
