<header-menu
  logoImage="../../../assets/img/Homepage/menuImages/logo.svg"
  imageSearch="../../../assets/img/Homepage/menuImages/searchImage.svg"
></header-menu>

<banner-background
  bannerImage="../../../assets/img/Homepage/bannerBackground/background.png"
></banner-background>

<card-more></card-more>

<app-about
  imagePhone="../../../assets/img/Homepage/aboutImages/phoneIcon.svg"
  imageAbout="../../../assets/img/Homepage/aboutImages/imageAbout.png"
></app-about>

<app-commentary></app-commentary>

<app-client-logo></app-client-logo>

<follow-projects></follow-projects>
