<section class="bannerBackground">
  <img src="{{ bannerImage }}" alt="Image background interno" class="image" />

  <div class="texts">
    <h1 class="title">Let your home be unique</h1>
    <h2 class="subtitle">
      There are many variations of the passages of lorem ipsum from available,
      variations of the passages
    </h2>

    <button class="btnStart">
      Get started
      <svg
        width="18"
        height="17"
        viewBox="0 0 18 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 8.43542L14.7232 8.29857M9.61818 1.91138L16.1412 8.43436L9.48677 15.0887"
          stroke="#CDA274"
          stroke-width="2"
          stroke-linecap="square"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</section>
